.salah{
    width: 300px;
    border-radius: 50%;
    border: 7px solid black;
}

.yasmine{
    display: flex;
    justify-content: space-around;
}

.chahinaz{
    text-align: center;
    width: 30%;
    border: 6px solid black;
    padding-top: 15px;
    padding-bottom: 15px;
}

ul{
    list-style: none;
}

.bg-pink{
    background-color: pink;
}

.bg-orange{
    background-color: orange;
}

.bg-green{
    background-color: greenyellow;
}