h1{
    color: red;
}

.malak {
    background-color: black;
    color: white;
}

#malak {
    background-color: purple;
    color: white;
    display: inline;
}

.ali{
    display: flex;
    justify-content: space-between;
}