.bordered {
    border: 2px solid black;
}

p {
    color: pink;
}
h1 {
    color: blue;
}
p{
    color: yellow;
}
.yassine {
    color: blue;
    background: greenyellow;
    border: 1px dashed black;
    margin: 0px;
}

.bgred{
    background-color: red;
}

.bgblue{
    background-color: blue;
}