p {
    color: orange;
}

.yassineisepic {
    background-color: blue;
    color: white;
    border: 3px solid black;
}

.newtoninternationschool {
    color: green;
    font-size: 70px;
}

.haithambg {
    background-image: url(bg-haitham.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
