p {
    color: orange;
    background-color: black;
}
body {
    background-color: grey;
}

.malak {
    color: lightpink;
}

.color-white{
    color: white
}

.commejeveux{
    color: Green;
    font-size: 40px;
}