 /* Selectors */
/* Element Selection */


p {
     color: pink;
     background-color: Black;
}

.ayatextbigger {
     font-size: xx-large;
}

h1 {
     font-size: 20px;
}
 /* Class Selection */
.taha {
     background-color: green;
}


 
 
 /* Id Selection */
 
 /* Group Selectors (nested, multiple) */
 
 /* Css boxing modal */
 