.yahya{
    width: 300px;
    border-radius: 30%;
    border: 7px solid black;
}

.marwa{
    display: flex;
    justify-content: space-around;
}

.chahd{
    background-color: purple;
}

.haitham{
    text-align: center;
}