.img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 4px solid black;
}

#rabia{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.ghina{
    border: 3px solid black;
    width: 30%;
    padding: 10px;
}

.bg-red{
    background-color: red;
    color: white;
}

.bg-blue{
    background-color: aqua;
}

.bg-green{
    background-color: aquamarine;
}