/* 
background-color 
color
font-size
background-image
width
height
border
CSS Box Model
margin (margin-top;margin-bottom;margin-left;margin-right)
padding ...
display: flex (to make the following work:)
{justify-content
align-items
flex-direction
order
align-self
}

*/

#box{
    background-color: pink;
    border: 3px solid black;
    width: 300px;
    padding: 30px 50px 100px 90px;
    margin: 200px 40px 20px 150px;
}